@include margin-helper(8);
@include margin-helper(16);
@include margin-helper(24);
@include padding-helper(8);
@include padding-helper(16);
@include padding-helper(24);

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.mr8 {
  margin-right: 8px !important;
}
